@import "~bootstrap-icons/font/bootstrap-icons.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

 


/* Light Theme */
:root {
  --background-color: #ffffff;
  --background-color-mainbody: #ffffff;
  --text-color: #000000;
  --primary-color: #060e1a;
  --navbar-background: #f8f9fa;
  --navbar-text: #000000;
  --footer-background: #f8f9fa;
  --card-background: #ffffff;
  --card-border: #dee2e6;

  --form-background: #ffffff;
  --form-text-color: #000000;
  --form-border-color: #ced4da;
  --form-button-background: #007bff;
  --form-button-text: #ffffff;
  --form-placeholder-color: #6c757d;

  --accordion-header-background: #f8f9fa;
  --accordion-header-text-color: #000;
  --accordion-active-background: #e9ecef;
  --accordion-active-text-color: #000;
  --accordion-body-background: #ffffff;
  --accordion-body-text-color: #000;
  --accordion-border-color: #ddd;

  --nav-link-color:red;
  --nav-link-active-background:red;

}

/* Dark Theme */

[data-theme='dark'] {
  --background-color: rgb(var(28, 37, 49));
  --background-color-mainbody: #2b3035;
  --text-color: #dde5ed;
  --primary-color: #102C57;
  --navbar-background: rgba(28, 37, 49, 1);
  --navbar-text: #dde5ed;
  --footer-background: rgba(28, 37, 49, 1);
  --card-background: rgba(28, 37, 49, 1);
  --card-border: #616161;

  --form-background: rgba(28, 37, 49, 1);
  --form-text-color: #dde5ed;
  --form-border-color: #27374D;
  --form-button-background: #27374D;
  --form-button-text: #dde5ed;
  --form-placeholder-color: #dde5ed;

  --accordion-header-background: rgba(28, 37, 49, 1);
  --accordion-header-text-color: #dde5ed;
  --accordion-active-background: rgba(28, 37, 49, 1);
  --accordion-active-text-color: #e0e0e0;
  --accordion-body-background: #27374D;
  --accordion-body-text-color: #e0e0e0;
  --accordion-border-color: #27374D;

  --nav-link-color:red;
  --nav-link-active-background: #ff0000;
}
/* [data-theme='dark'] {
  --background-color: #102C57;
  --background-color-mainbody: #082148;
  --text-color: white;
  --primary-color: #082148;
  --navbar-background: #102C57;
  --navbar-text: white;
  --footer-background: #102C57;
  --card-background: #102C57;
  --card-border: #616161;

  --form-background: #102C57;
  --form-text-color: white;
  --form-border-color: #193560;
  --form-button-background: #bb86fc;
  --form-button-text: white;
  --form-placeholder-color: white;
} */

/* Global Styles */
.gap{
  margin-top: 20px
}

.main-body{
  background-color: var(--background-color-mainbody);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
  font-family: 'Roboto', sans-serif;
}

/* Navbar Styles */
.navbar {
  background-color: var(--navbar-background) !important;
  font-family: 'Roboto', sans-serif;
}

.navbar .navbar-brand,
.navbar .navbar-nav .nav-link {
  color: var(--navbar-text) !important;
}
.navbar a {
  color: var(--navbar-text) !important;
}

.navbar-toggler-icon {
  background-color: var(--navbar-text) !important;
}

/* Footer Styles */
.footer {
  background-color: var(--footer-background);
  color: var(--text-color);
  padding: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

/* Card Styles */


/* Button Styles */
button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  opacity: 0.8;
}

.form-container {
  background-color: var(--form-background);
  color: var(--form-text-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.form-container .form-control::placeholder {
  color: var(--form-placeholder-color);
}

.form-container .form-control {
  background-color: var(--form-background);
  color: var(--form-text-color);
  border-color: var(--form-border-color);
}

.form-container .form-check-input {
  background-color: var(--form-background);
  border-color: var(--form-border-color);
}

.form-container .btn-primary {
  background-color: var(--form-button-background);
  color: var(--form-button-text);
  border: none;
}

.form-container .btn-primary:hover {
  background-color: darken(var(--form-button-background), 10%);
}

/* Optional: Specific styles for card */
.card {
  background-color: var(--form-background);
  color: var(--form-text-color);
  border: 0px solid var(--form-border-color) !important;  
}

.card .card-body{
  background-color: var(--form-background);
  color: var(--form-text-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 5px !important
}



.accordion-button {
  background-color: var(--accordion-header-background) !important;
  color: var(--accordion-header-text-color) !important;
  border-color: var(--accordion-border-color) !important;
}

.accordion-button:not(.collapsed) {
  background-color: var(--accordion-active-background) !important;
  color: var(--accordion-active-text-color) !important;
}

.accordion-body {
  background-color: var(--accordion-body-background) !important;
  color: var(--accordion-body-text-color) !important;
}

.rounded-img {
  width: 80px; /* Set the width of the image */
  height: 80px; /* Set the height of the image */
  border-radius: 50%; /* Makes the image round */
  object-fit: cover; /* Ensures the image covers the container without distortion */
  border: 2px solid #ddd; /* Optional: Add a border around the image */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Add shadow for a lifted effect */
}